.container {
    margin: 0;
    padding: 0;
    height: 250px;
    width: 100%;
    background-image: url('../../assets/images/pattern-bg-mobile.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 1.2rem;
    margin: 1rem 0;
    color: white;
    font-weight: 500;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 90%;
    max-width: 500px;
    gap: 0;
    border: none;
    border-radius: 10px;
}

.textInput {
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    width: 80%;
    height: 100%;
    padding: 1rem;
    font-size: 0.7rem;
    font-weight: 700;
    /* color: var(--dark-gray); */
}

.textInput::placeholder {
    font-family: inherit;
    font-weight: 500;
}

.textInput:focus {
    outline: none;
}

.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 20%;
    background-color: var(--very-dark-gray);
}

.submitButton:hover {
    cursor: pointer;
}

@media only screen and (min-width: 380px) {
    .title {
        font-size: 1.5rem;
        margin: 1.7rem 0;
    }

    .textInput {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 550px) {
    .title {
        margin: 2rem 0;
    }

    .container {
        background-image: url('../../assets/images/pattern-bg-desktop.png');
    }

    .title {
        font-size: 1.75rem;
    }    
}