@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);

    font-size: 18px;
    font-family: 'Rubik';
    font-weight: 400;
}

body, h1 {
    margin: 0;
}

.leaflet-container {
    width: 100%;
    height: 300px;
}